

<div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row py-3">
                            <div class="col-md-12">
                                <h1 class="h1" align="center">สินค้าขายดี</h1>
                                <div class="divider"></div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img"><img src="images/good8.jpg"></div>
                                    <div class="card-body">
                                        
                                       <h4 class="pt-1 pb-2">ไส้กรอกซีพี</h4>
                                       <h5>ราคา : 100 บาท</h5>
                                     
                                       <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img"><img src="images/good7.jpg"></div>
                                    <div class="card-body">
                                       
                                       <h4 class="pt-1 pb-2">ไส้กรอกซีพี</h4>
                                       <h5>ราคา : 100 บาท</h5>
                                     
                                       <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img"><img src="images/good6.jpg"></div>
                                    <div class="card-body">
                                       
                                       <h4 class="pt-1 pb-2">เบคอน</h4>
                                       <h5>ราคา : 150 บาท</h5>
                                     
                                       <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img"><img src="images/good5.jpg"></div>
                                    <div class="card-body">
                                       
                                       <h4 class="pt-1 pb-2">เบคอนรมควัน</h4>
                                       <h5>ราคา : 160 บาท</h5>
                                       
                                     
                                       <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-img"><img src="images/good1.jpg"></div>
                                        <div class="card-body">
                                           
                                           <h4 class="pt-1 pb-2">ลูกชิ้นหมู</h4>
                                           <h5>ราคา : 110 บาท</h5>
                                           
                                         
                                           <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-img"><img src="images/good2.jpg"></div>
                                        <div class="card-body">
                                           
                                           <h4 class="pt-1 pb-2">ไส้กรอกแฮม</h4>
                                           <h5>ราคา : 130 บาท</h5>
                                         
                                           <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-img"><img src="images/good3.jpg"></div>
                                        <div class="card-body">
                                           
                                           <h4 class="pt-1 pb-2">ลูกชิ้น</h4>
                                           <h5>ราคา : 140 บาท</h5>
                                           <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-img"><img src="images/good4.jpg"></div>
                                        <div class="card-body">
                                           
                                           <h4 class="pt-1 pb-2">ไส้กรอก</h4>
                                           <h5>ราคา : 100 บาท</h5>
                                           <button type= "button" class="btn btn-outline-danger btn-block btn-sm">ADD CART</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>