<link rel="stylesheet" href="themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
</head>
<link rel="stylesheet" href="css/style.css">

<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <img src="images/first.jpg" />
        <img src="images/first.jpg" />
        <img src="images/first.jpg" />
        <img src="images/first.jpg" />
        <img src="images/first.jpg" />
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $( window ).load( function ()
    {
        $( '#slider' ).nivoSlider();
    } );
</script>